@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img,input,textarea,select{ vertical-align:top; }
input,textarea{ outline:none; }

.fl{float:left;}
.fr{float:right;}
.clearFix:after{content:'';display:block;clear:both;}
.clearFix{zoom:1;}

.body{ font-size:14px; }
.wrapper{ width:996px; margin:0 auto; }

